# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Playwright execution outputs
playwright-report/
reports/
allure-results/
allure-report/
test-results/

# Compilation outputs
dist/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# System-generated test outputs
reports/screenshot/
github-logs/

